body{
    background-color: grey;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.box{
    width: 200px;
    height : 200px;
    border: 1px solid black;
    flex-direction: row;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
h2{
    display: flex;
    justify-content: center;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}

